.wysihtml5-editor.placeholder{
  color:black!important;
}
.wysihtml5-sandbox {
    height: 500px!important;
}
.wysiwyg-text-align-center{
  text-align: center;
}
.wysiwyg-text-align-left{
  text-align: left;
}
.wysiwyg-text-align-right{
  text-align: right;
}
div#modalpilihShortcode a {
    width: 100%;
    text-align: left;
}
body.wysihtml5-editor {
    padding: 30px 80px;
}
body.wysihtml5-editor ol{
  padding-left: 15px;
}
p{
  white-space: pre-line;
  margin: 5px 0px;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #f4f4f4;
}
td {
    display: table-cell;
}
