.nav-pills > li > a.active{
  background-color: #a4dd25;
}
.nav-pills > li > a {
  border-radius: 0px;
  color: black;
}
#avgkomoditas_dataperprov td{
  color:white;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
  color:black;
}
.table-hover > tbody > tr:hover{
  background-color: #a0d034;
  color:white;
}
.mis-slider li img{
  border-radius: 400px;
}
.btn{
  outline: none;
  background: #a0d034;
  color: #212121;
  padding: 10px 30px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  border-radius: 0px;
}
.btn:hover{
background: #212121;
color: #fff;
}
.icon-box.active {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box.active i.fa {
	color:#fff !important;
}
.icon-box.active p.agile-icon {
	color:#fff !important;
}
.icon-box:hover p.agile-icon {
	color:#fff !important;
}
.banner,.banner1{ background: url('../images/homepage/banner-besar.jpg') no-repeat 0px 0px;background-size: cover; -webkit-background-size: cover;}
.newsletter{ background: url('../images/homepage/paralax-newsletter.jpg') no-repeat 0px 0px;background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;-ms-background-size: cover;background-attachment: fixed;}
.footer{ background: url('../images/homepage/paralax-footer.jpg') no-repeat 0px 0px;background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;-ms-background-size: cover;background-attachment: fixed;padding: 5em 0 0;}
.banner1{min-height:120px}
.wthree_welcome_bottom_left_grid{margin-top:0!important;}
.namaproduk {
    padding: 10px 5px;
    height: 50px;
    overflow-y: hidden;
    font-weight: bold;
}
.hargaproduk {
    padding: 5px;
    text-align: right;
    font-weight: bold;
    color: red;
    font-size: large;
}

::-webkit-input-placeholder, ::placeholder {
    color: #b1b1b1!important;
}
.agileits_w3layouts_news_grid ul li i{
  padding-right: 0.4em;
}
.agileits_w3layouts_news_grid ul li:last-child {
    margin-left: 1em;
}
#detailartikel p {
    clear: both;
}
