#tabelkomoditas input.form-control{
  height: 24px;
}
a,.btn-link,.btn-link:focus, .btn-link:hover{
  color:#00a65a;
}
.btn-primary {
  background-color: #00a65a;
}
.btn-primary:focus,.btn-primary:hover{
  background-color: white;
  color:#00a65a;
}
.nav-pills > li > a.active{
  background-color: #00a65a;
  color:white;
}
.nav-pills > li > a {
  border-radius: 0px;
  color: black;
}
